	@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body,
html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #6f6f6f;
}
::-webkit-scrollbar { width: 2px;  }/* for vertical scrollbars */
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5); }

@media (min-width: 1200px) { 
    .container { width: 1100px }
}
h1 {
    font-weight: 600;
}
h1 small { text-transform: lowercase }
h2 {
    line-height: 24px;
    font-weight: 300;
}
h5 { font-size: 16px }
p { font-size: 14px ;}
a {
    color: inherit;
    transition: all 0.5s;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #ffcc33;
}
.highlight { color: #38A5DB;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block }
* html .clearfix { height: 1% }
.clearfix { display: block }
/* Navigation */
#menu {
    margin-bottom: 0;
    background-color: #38A5DB;
    padding: 10px 0;
    height: auto;
    border: 0px;
}
.navbar-brand img {
    height: 30px;
    width: auto;
}
.navbar-brand { padding: 12px 15px }
.navbar-nav > li > a {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 8px 16px;
    margin: 8px 4px;
    text-transform: uppercase;
    transition: all 0.5s;
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    border: 1px solid #EFECE6;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover>.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus>.navbar-default .navbar-toggle .icon-bar { color: #FFCC33 }
/* Header Page */
#header {
    padding: 20px 0;
    background: #ffcc33;
    margin-top: 70px;
    color: #ffffff;
}
#header .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: -10px;
}
#header .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}
#header .breadcrumb > li a { color: #ffffff }
/* Home Style */
#home {
    background: url(../img/bg/01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #828282;
}
#home .overlay {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
    padding: 20% 0;
    background-attachment: fixed;
}
#home h1 { color: #FFFFFF; line-height: 64px; font-size: 44px;}
.content-heading p.lead { margin-bottom: 80px ; color: #FFF;}
a.goto-btn {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
a.goto-btn:hover {
    color: #FEFFFF;
    border-bottom: 2px solid #38A5DB;
}
/* Home Section Style 2 - With Video*/
#home.video .overlay {
    padding: 0;
    padding-top: 10%;
}
.img-wrapper { position: relative }
.img-wrapper img.img-responsive { margin: 0 auto !important }
.img-wrapper i.fa {
    position: absolute;
    z-index: 10;
    top: 50%;
    font-size: 25px;
    background: rgba(32, 22, 22, 0.29);
    padding: 18px 23px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    margin-left: -30px;
    transition: all 0.3s;
}
.img-wrapper i.fa:hover { background: #ffcc33 }
/* Home Section Style 3 - Slider*/
#home.slider { background: none }
#home.slider .overlay { padding: 0 }
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 28%;
    bottom: auto;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    text-shadow: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #38A5DB;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control { z-index: 2 }
/* Home Section Style 4 - App Header Style*/

a.goto-btn { margin-right: 30px ; border: #fff 1px solid; padding: 12px 18px; color: #fff;}
.ipad-wrapper .app-wrap {
    position: relative;
    width: 3095px;
}
.app-wrap {
    position: absolute;
    background: url(../img/header4.html);
    width: 395px;
    height: 540px;
    background-repeat: no-repeat;
    z-index: 2;
    left: 5%;
}
#owl-demo .item img {
    position: relative;
    width: 305px;
    height: auto;
    left: 12%;
    margin-top: 46px;
    z-index: -1;
}
.app .content-heading.text-left { padding: 15% 0 }
#home.app .owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    margin: 5px;
    background: #ffffff !important;
    border: 2px solid transparent;
    opacity: 1;
}
#home.app .owl-theme .owl-controls {
    margin-top: 60px;
    text-align: center;
}
#home.app .owl-theme .owl-controls .owl-page.active span,
#home.app .owl-theme .owl-controls.clickable .owl-page:hover span { border: 2px solid #FFCC33 }

/* Home Parallax Effect */
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#home.parallax .bcg { background-image:url('../img/bg/slider03.html'); }
.parallax  .content-heading{
    padding: 20% 0;
    text-align: center;
}
/* Intro Section */
#intro {
    background-color: #38A5DB;
    padding: 5% 0;
    color: #ffffff;
    text-align: center;
}


#intro img.intro-logo {
    margin: 0 auto;
    margin-bottom: 30px;
}
/* Service Section */
#whatIdo { padding: 60px 0 ; background-color: #fff; color: #909090;}
.section-header {
    padding: 40px 0;
    text-align: center;
}
.section-header h2 { text-transform: uppercase ; color: #000; font-family: inherit;}
.section-header h5 { letter-spacing: 1px ; color: #ADADAD;}

/* About section: make subtitle and list items normal weight (not bold) */
.about-text h3 {
    font-weight: normal; /* remove default bold heading */
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.about-text ul li {
    font-weight: normal; /* make bullets regular weight */
}

.fancy {
    line-height: 0.5;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #000000;
    top: 5px;
    width: 300px;
}
.fancy span:before {
    right: 100%;
    /* margin-right: 10px; */
}
.fancy span:after {
    left: 100%;
    /* margin-left: 10px; */
}
/* service lists */
.service { margin-bottom: 20px }
.service .media-right i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #333333;
    color: #ffffff;
    padding: 25px 0;
    border-radius: 0;
    border-top-left-radius: 0;
    margin: 0 10px;
    margin-right: 20px;
    width: 82px;
    height: 80px;
    transition: background-color 0.5s;
}
.service .media-left i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #333333;
    color: #ffffff;
    padding: 25px 0;
    border-radius: 0;
    border-top-right-radius: 0;
    margin: 0 10px;
    margin-left: 20px;
    width: 82px;
    height: 80px;
    transition: background-color 0.5s;
}
.experience:hover i.fa,
.service:hover i.fa { background-color: #333333 }
h4.media-heading {
    margin-top: 0;
    margin-bottom: 5px;    
    font-weight: 400;    
    color: #333;
    line-height: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/* About Us */
#about {
    background: #38A5DB;
    color:#ffffff;
    padding:80px 0;
}

#about h1 {
    color:#ffffff;
    font-size:36px;
    line-height:42px;
    font-weight:300;
    margin-bottom:24px;
    position:relative;
}
#about h2, #about h5 {
    color:#ffffff;

	}
#about p {
    font-size: 18px;
    line-height:36px;
    font-weight:300;
    margin-bottom: 8px;
    font-family: inherit;
}

#about a:hover{
    text-decoration:underline;
} 

#about .btn-theme.transparent {
    font-size:18px;
    text-decoration:none;
}

#about img {
    box-shadow:12px 0px 0px 12px rgba(255,255,255,0.2),
                -12px 0px 0px 12px rgba(255,255,255,0.2);
}



#about { padding: 40px 0 }
.gray-bg {}
.img-wrap .profile-img {
    position: relative;
    margin-bottom: 40px;
}
.profile-img .social {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: 50px;
}
.about-right-content { padding: 0;}
.about-left-content { padding-bottom: 60px }
.about-left-content h2,
.about-left-content h2 small { color: #333 }
.about-left-content h2 small { font-weight: 300 }
ul.social li a.fa {
    background: #FFCC32;
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    margin-right: -5px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0;
}
ul.social li a.fa:hover { background-color: #333333 }
/* Skills Progress Bar */
.progress {
    height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #8DD4F7;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #267CA5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.skills {
    margin-top: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    margin-left: 20px;
}
.skillset p {
    font-size: 13px;
    margin-bottom: 5px;
}
/* Counter */
#counter {
    margin-top: 50px;
}
.facts { padding: 0 ; margin-bottom: 8px;}
.facts .count-box { position: relative ; background-color: rgba(1, 36, 53, 0.32); margin: 0 4px;}
.count-box {
    -webkit-backface-visibility: hidden;
    padding: 30px 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s;
    transform: translateX(0px) translateY(0%);
    -webkit-transform: translateX(0px) translateY(0%);
    -moz-transform: translateX(0px) translateY(0%);
    -ms-transform: translateX(0px) translateY(0%);
    -o-transform: translateX(0px) translateY(0%);
}
.count-box:hover,
.count-box:hover > i.fa { color: #ffffff }
.count-box:hover {
    -webkit-backface-visibility: hidden;
    background-color: #58BDEF;
}
.counter i.fa {
    font-size: 40px;
    color: #FFFFFF;
}
.count-box.last {}
/* Portfolio / Works Sections */

/* Why Us or Features Section */

/* Portfolio or works blocks */
#works { padding: 25px 25px 200px; background-color: #EAEAEA;}
#isotope-gallery {height: auto;}
.isotope-blog {max-width: 500px; margin: auto; }

/* My Resume*/
.resume-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.resume-button:hover {
  background-color: #0056b3;
}

/* Style 2 - Not Fullwidth */

/* experience Section */
#experience { padding: 60px 0 }
.experience i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #333;
    color: #ffffff;
    padding: 25px 0;
    border-top-left-radius: 0;
    margin: 0 10px;
    margin-right: 20px;
    width: 92px;
    height: 90px;
    transition: background-color 0.5s;
}
/* The latest changes start from here .....Added the Academics css*/
#academics {
    
    background-color: #fff;
    padding: auto;
    color: #000;
    text-align: left;
}

#certifications {

    background-color: #EAEAEA;
    padding: auto;
    text-align: left;
}



#academics h4 {
    color:#909090;
    border-left: 15px
    background-color: transparent;
    font-weight: bold;
}
#academics h4.media-heading{color: #000}

#experience .gray-bg { position: relative }
.gray-bg .vline {
    position: absolute;
    height: 100%;
    padding: 5px;
    border-left: 3px solid #ffffff;
    left: 20%;
}
#experience .media-body{
	padding-left: 20px;
	
}

#experience { padding: 60px 0 20px 0 ;background-color: #fff; color: #909090;}
.experience { margin-bottom: 40px }
.experience h5{color: #000}


/* Contact Section */
/*********************************
/* Map Section
**********************************/
#contact { padding: 60px 0 ; background-color: #EAEAEA}
#map {
    position: relative;
    width: 100%;
    height: 400px;
}
.contact-detail {
    text-align: center;
    margin: 0px 0;
}
.contact-detail i.fa {
    text-align: center;
    font-size: 30px;
    background-color: #333;
    color: #FFFFFF;
    padding: 25px 0;
    border-radius: 0;
    border-top-left-radius: 0;
    margin: 0 10px;
    margin-right: 20px;
    width: 82px;
    height: 80px;
    transition: background-color 0.5s;
}
.contact-detail:hover i.fa { background-color: #333333 }
form#contact-form { padding: 40px 0 }
.contact form#contact-form {padding: 0}
.form-control:focus {
    border-color: inherit;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
p.help-block.text-danger ul li {
    display: block;
    margin-left: -20px;
    color: #FFCC33;
}
#success .alert-danger {
    color: #FFCC33;
    background-color: #FDFDFD;
    border-color: #FFCC33;
    margin-bottom: 10px;
}
/* Footer */
#footer {
    padding: 35px 0 10px;
    background-color: #333;
    color: #ffffff;
}

